<%= form_with(model: from_arduino, local: true) do |form| %>
  <% if from_arduino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(from_arduino.errors.count, "error") %> prohibited this from_arduino from being saved:</h2>

      <ul>
        <% from_arduino.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
